:root {
    --primary-color: #e7f644;
    --border-thickness: 10px;
}
.header-container {
    margin: 0px;
    text-align: center;
    padding: 10px;
    border-top: var(--border-thickness) solid var(--primary-color);
    border-bottom: var(--border-thickness) solid var(--primary-color);
    text-shadow: 1px 1px 1px var(--primary-color);
}